
// Fonts
@import url('https://fonts.googleapis.com/css?family=Pacifico');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Expressway Free';
  font-style: normal;
  font-weight: 400;
  src: local('Expressway Free'), local('ExpresswayFree-Regular'),
  url('/../fonts/expressway.woff') format('woff'),
  url('/../fonts/expressway.ttf') format('truetype');
}


@import 'general';

@import 'titles';