.purple {
  .table, .block {
    border: 1px solid $purple;
    .cheaper {
      color: $purple;
      font-weight: bold;
    }
  }

  .title {
    background: $purple;
    background: -moz-linear-gradient(top, rgba(177, 62, 185, 1) 0%, rgba(124, 40, 126, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(177, 62, 185, 1)), color-stop(100%, rgba(124, 40, 126, 1)));
    background: -webkit-linear-gradient(top, rgba(177, 62, 185, 1) 0%, rgba(124, 40, 126, 1) 100%);
    background: -o-linear-gradient(top, rgba(177, 62, 185, 1) 0%, rgba(124, 40, 126, 1) 100%);
    background: -ms-linear-gradient(top, rgba(177, 62, 185, 1) 0%, rgba(124, 40, 126, 1) 100%);
    background: linear-gradient(to bottom, rgba(177, 62, 185, 1) 0%, rgba(124, 40, 126, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b13eb9', endColorstr='#7c287e', GradientType=0)
  }
}

.green {
  .table, .block {
    border: 1px solid $green;
    .cheaper {
      color: $green;
      font-weight: bold;
    }
  }

  .title {
    background: $green;
    background: -moz-linear-gradient(top, rgba(195, 218, 14, 1) 0%, rgba(156, 182, 25, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(195, 218, 14, 1)), color-stop(100%, rgba(156, 182, 25, 1)));
    background: -webkit-linear-gradient(top, rgba(195, 218, 14, 1) 0%, rgba(156, 182, 25, 1) 100%);
    background: -o-linear-gradient(top, rgba(195, 218, 14, 1) 0%, rgba(156, 182, 25, 1) 100%);
    background: -ms-linear-gradient(top, rgba(195, 218, 14, 1) 0%, rgba(156, 182, 25, 1) 100%);
    background: linear-gradient(to bottom, rgba(195, 218, 14, 1) 0%, rgba(156, 182, 25, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3da0e', endColorstr='#9cb619', GradientType=0)
  }
}

.blue {
  .table, .block {
    background: #f9f9f9;
    border: 1px solid $blue;
    .cheaper {
      color: $blue;
      font-weight: bold;
    }
  }

  .title {
    background: $blue;
    background: -moz-linear-gradient(top, rgba(5, 184, 199, 1) 0%, rgba(16, 157, 167, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(5, 184, 199, 1)), color-stop(100%, rgba(16, 157, 167, 1)));
    background: -webkit-linear-gradient(top, rgba(5, 184, 199, 1) 0%, rgba(16, 157, 167, 1) 100%);
    background: -o-linear-gradient(top, rgba(5, 184, 199, 1) 0%, rgba(16, 157, 167, 1) 100%);
    background: -ms-linear-gradient(top, rgba(5, 184, 199, 1) 0%, rgba(16, 157, 167, 1) 100%);
    background: linear-gradient(to bottom, rgba(5, 184, 199, 1) 0%, rgba(16, 157, 167, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05b8c7', endColorstr='#109da7', GradientType=0)
  }

  .block {
    .name {
      color: $blue;
      padding-bottom:10px;
    }
  }
  .btn-info {
    border: 1px solid $blue;
    &:hover {
      color: $blue;
    }
  }
}