.title {
  margin-top: 1em;
  font-size: 1.4rem;
  color: #fff;
  float: right;
  font-weight: 700;
  text-transform: uppercase;
  div {
    padding: 0 0.4em;
  }
  .purple {
    background: #b13eb9;
    background: -moz-linear-gradient(top, rgba(177, 62, 185, 1) 0%, rgba(124, 40, 126, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(177, 62, 185, 1)), color-stop(100%, rgba(124, 40, 126, 1)));
    background: -webkit-linear-gradient(top, rgba(177, 62, 185, 1) 0%, rgba(124, 40, 126, 1) 100%);
    background: -o-linear-gradient(top, rgba(177, 62, 185, 1) 0%, rgba(124, 40, 126, 1) 100%);
    background: -ms-linear-gradient(top, rgba(177, 62, 185, 1) 0%, rgba(124, 40, 126, 1) 100%);
    background: linear-gradient(to bottom, rgba(177, 62, 185, 1) 0%, rgba(124, 40, 126, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b13eb9', endColorstr='#7c287e', GradientType=0)
  }
}